.date{
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 28px;
  text-align:right;
}
.pagination{
  text-align: center;
  width:100%;
}
.bottom-extra{
  text-align:right;
}
.content{
  word-spacing: 3px;
}
.title{
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.find-title{
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.find-date{
  font-family: inherit;
  color: inherit;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 28px;
}

.post{
    margin-bottom: 80px;
}

.find-results{
    text-align:left;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin-top: 15px;
  margin-bottom: 15px;
}

h1,
.h1 {
  font-size: 35px
}

h2,
.h2 {
  font-size: 30px
}

h3,
.h3 {
  font-size: 28px
}

h4,
.h4 {
  font-size: 26px
}

h5,
.h5 {
  font-size: 24px
}

h5,
.h5 {
  font-size: 22px
}
